<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ferring.flutterlibrary">

    <application android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".SecondActivity"
            android:exported="true" />
        <activity
            android:name=".EmptyActivity"
            android:exported="true" />
    </application>

</manifest>